


body{
  background-color: #1b1e23;
}

header {
  background-color: rgb(27, 26, 26);
  box-shadow: 3px 2px 10px  #8d11c7;
  border-radius: 0px;
  justify-content: center;
  display: flex;

 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}






/*AQUI QUE MUDA O HEADER DA LOGO*/
.logo h1 {
  color: #fff;
  margin-top: -20px;
  margin-bottom: -30px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 140%;
  color: #fff;
  font-weight: 400;
}

.login-button button {
  border: 2px solid rgb(132,14,201);
  padding: 12px;
  border-radius : 40px;
  background-color: transparent;
  padding-right: 10px;
  padding-top: 8px;
  justify-content: center;
  
}




.login-button button:hover {
  background-color: rgb(132, 14, 201);
  color: rgba(255, 255, 255, 0);
}

.login-button button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

#divBusca{
  border: px solid black;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #450e5a;
  box-shadow: 4px 4px rgb(30, 9, 43);
  width:360px;
  height:27px;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-left: 35%;
  transition: all ease-in-out 300ms;
}

#txtBusca{
  color: white;
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height: 20px;
  width:501px;
  margin-top: 4px;
  outline: none;
  
}

#btnBusca{
  border:none;
  float:left;
  height:30px;
  border-radius:0 7px 7px 0;
  width:90px;
  font-weight:bold;
  background:#fbfafc;
  margin-left: 20%;
  font-size: 30px;
  line-height: 20px;
  transition: all ease-in-out 300ms;
}

#divBusca img{
  float:left;
}

.card {
    border: 1px solid black;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background: #45045f;
    box-shadow: 4px 4px rgb(24, 7, 34);
    width: 300px;
    transition: all ease-in-out 300ms;
  
  }


  
  .card:hover {
    box-shadow: 4px 4px rgb(207, 88, 178);
    translate: -2px -2px;
  
  }
  .card > h1 {
  border-left: 8px solid rgb(245, 110, 227);
  padding-left: 16px;
  color: rgb(252, 252, 252);
  }
  
  /* App.css */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 3%;
}


  
  
  .card > img {
    max-width: 100%;
    width: 100%;
    height: 70% ;
    border-radius: 16px;
  }
  
  

  .type {
    /* Estilos da div type, se houver */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 270%); /* Centraliza horizontalmente e verticalmente */
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 60%;
    display: flex;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 70px;
    height: 33px;
  }


  
  .card:hover .type {
    opacity: 1;
  }
  

  .type > p {
  color:#8d11c7
  
  }
  
  
  
  @media screen and (max-width: 800px) {
    header {
      flex-direction: column; /* Alinhar itens verticalmente */
      text-align: center; /* Centralizar o conteúdo */
    }
    .nav-bar {
      padding: 1.5rem 0.5rem; /* Ajustando o padding horizontal */
    }
  
    .nav-list {
      flex-direction: column; /* Alinhe os itens verticalmente em telas menores */
    }
  
    .nav-item {
      margin: 10px 0; /* Espaçamento menor entre os itens */
    }
  
    .login-button button {
      padding: 8px; /* Reduzindo o padding do botão */
    }
  
    #divBusca {
      width: 100%; /* Ocupar toda a largura disponível */
      margin: 16px 0; /* Espaçamento vertical menor */
      padding: 10px; /* Reduzindo o padding */
      text-align: center; /* Centralizar o conteúdo */
    }
  
    #txtBusca {
      width: 100%; /* Ocupar toda a largura disponível */
      font-size: 14px; /* Fonte um pouco menor */
    }
  
    #btnBusca {
      width: 70px; /* Reduzindo a largura do botão */
      font-size: 20px; /* Tamanho de fonte maior */
      margin-left: 10px; /* Espaçamento esquerdo menor */
    }
  
    .card {
      width: 100%; /* Ocupar toda a largura disponível */
      max-width: 300px; /* Limitando a largura máxima */
      margin: 16px 0;
    }
  
    .cards-list {
      margin-top: 5%; /* Espaçamento maior entre as listas de cards */
    }
  }

  
  
  